body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:516px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:30px;
  width:1000px;
  height:516px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:250px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.207843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:149px;
  width:81px;
  height:321px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:149px;
  width:280px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:125px;
  height:5px;
}
#u1420p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:124px;
  height:4px;
}
#u1420p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:126px;
  height:6px;
}
#u1420p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1420p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1420p002 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1420p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1420.compound {
  width:0px;
  height:0px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:168px;
  width:122px;
  height:2px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 0, 0, 0.207843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:151px;
  width:233px;
  height:321px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:288px;
  width:280px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:411px;
  height:5px;
}
#u1426p000 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:410px;
  height:2px;
}
#u1426p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:412px;
  height:4px;
}
#u1426p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1426p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1426p002 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1426p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u1426.compound {
  width:0px;
  height:0px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:295px;
  width:408px;
  height:2px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
