body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:520px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:30px;
  width:1000px;
  height:520px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:252px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:231px;
  width:76px;
  height:22px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  color:#FFFFFF;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:231px;
  width:62px;
  height:20px;
  font-size:7px;
  color:#FFFFFF;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(16, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 158, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  color:#FFFFFF;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:231px;
  width:62px;
  height:20px;
  font-size:7px;
  color:#FFFFFF;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:512px;
  width:200px;
  height:32px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(16, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:515px;
  width:85px;
  height:25px;
  font-size:10px;
  color:#FFFFFF;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(16, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 158, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:515px;
  width:85px;
  height:25px;
  font-size:10px;
  color:#FFFFFF;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:422px;
  width:909px;
  height:18px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:371px;
  width:909px;
  height:18px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:288px;
  width:909px;
  height:18px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:18px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.309803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:207px;
  width:909px;
  height:18px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:905px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:183px;
  width:252px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:225px;
  width:210px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:241px;
  width:0px;
  height:0px;
}
#u1216_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1216_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-4px;
  width:8px;
  height:12px;
}
#u1216_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:0px;
  width:22px;
  height:8px;
}
#u1216_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1216_seg4 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-6px;
  width:20px;
  height:20px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1088px;
  top:123px;
  width:332px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  white-space:nowrap;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:147px;
  height:46px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:186px;
  width:127px;
  height:26px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:139px;
  width:100px;
  height:19px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1222_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:136px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:356px;
  height:5px;
}
#u1226p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:356px;
  height:4px;
}
#u1226p000_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:358px;
  height:6px;
}
#u1226p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1226p001_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:24px;
  height:22px;
}
#u1226p002 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1226p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1226.compound {
  width:0px;
  height:0px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:144px;
  width:353px;
  height:2px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
